<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/login.jsp*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/app**" access="ROLE_USER" />
		<intercept-url pattern="/registro**" access="isAuthenticated()" />
		
		
		<form-login 
		    login-page="/loginCompartamos"
		    default-target-url="/welcome" 
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" />
		<!-- <logout logout-success-url="/loginCompartamos" logout-url="/logout"/> -->
		<!-- enable csrf protection -->
		
		<session-management>
			<concurrency-control error-if-maximum-exceeded="false" expired-url="/login.htm?errorMax=true"
				max-sessions="1" />
		</session-management>
		
	</http>
	
	<beans:bean id="ldapContextSource"
		class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
		<beans:constructor-arg
			value="ldap://BCDNSDIVEO.compartamos.mx:389/ou=Compartamos,dc=compartamos,dc=mx" />
		<beans:property name="userDn" value="FCOMPARTAMOS\ecalvet"></beans:property>
		<beans:property name="password" value="Ecal12341"></beans:property>
		<beans:property name="baseEnvironmentProperties">
			<beans:map>
				<beans:entry key="com.sun.jndi.ldap.connect.timeout"
					value="20000" />
			</beans:map>
		</beans:property>
	</beans:bean>
	
	<beans:bean id="customUserContextMapper" class="com.gentera.cuentasn.ldap.CustomUserDetailsMapper"/>

	<authentication-manager>
		<ldap-authentication-provider
			user-search-base="" 
			user-search-filter="sAMAccountName={0}"
			user-context-mapper-ref="customUserContextMapper"
			server-ref="ldapContextSource" />
		<authentication-provider ref="yastasAuthenticationProvider" />
	</authentication-manager>
	

</beans:beans>