@CHARSET "ISO-8859-1";

	#formulario{
		width:800px;
		margin:0 auto;
		text-align:center;
		
	}

 .select
  {
  border: 2px solid #DBE1EB;
  border-radius: 4px;
  width:270px;
}
 .select:hover
  {
  border-color: #CE4676;
  }
.text:hover{
   border-color: #FF6347;	
}

tr.spaceUnder > td
{
  padding-bottom: 1em;
}

input
{
   width: 220px; 
   height: 20px; 
   padding: 5px 20px 0px 20px; 
   margin: 0 0 20px 0;
   border-radius: 5px; 
   -moz-border-radius: 5px; 
   -webkit-border-radius: 5px;
   -moz-box-shadow: 0px 0px 0px #f2f2f2;
   -webkit-box-shadow: 0px 1px 0px #f2f2f2;
   font-family: Arial; 
   font-size: 16px;
}

input:focus, textarea:focus {
   background: white;
   }
   
   
label { display: inline-block; width: 160px; text-align: right; }

input[type="radio"] {
    width: 40px;
  }
  
select{
	border-radius: 5px
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 0px 0px #f2f2f2;
    -webkit-box-shadow: 0px 1px 0px #f2f2f2;
	height: 30px;
	width: 265px;
}

	body {
    background-color: #ce4676;
}
	form label.error, form input.submit {
		margin-left: 253px;
}
	
	label.error {
    color: #d60404;
}


#mensajeNac{
	background-color: #ffffff;
	left:35%;
	top:110%;
   	z-index:20;
   	position:absolute;
   	border: 2px solid #ce4676;
   	text-align:center;
   	color: #f38a00;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-style: italic;

}

#mensajeNac{
	background-color: #ffffff;
	left:35%;
	top:110%;
   	z-index:20;
   	position:absolute;
   	border: 2px solid #ce4676;
   	text-align:center;
   	color: #f38a00;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-style: italic;

}

.texGris09_13 {
    color: #9a8b7d;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    line-height: 15px;
    text-align: left;
    text-decoration: none;
}

.tituloMango {
    color: #f38a00;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 35px;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 30px;
    text-decoration: none;
}


input[type="submit"] {
    background: #ca005d none repeat scroll 0 0;
    color: white;
    font-size: 16px;
    height: 25px;
    width: 90px;
}
